<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
         name="app">

    <arg name="severity" value="1"/>
    <arg name="cache" value="var/cache/phpcs"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="ruleset.xml"></rule>
</ruleset>
