<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
</head>
<body>
    <h1>Test app</h1>

    <p>Read README.md.</p>

    <p>Try using Book API.<br>
    <a href="/api/v1/books">Book list</a></p>

    <p>More API examples are in README.md.</p>
</body>
</html>
